*{
    font-size: 62.5%;
    font-family: Proxima Nova;
    padding: 0;
    margin: 0;

    list-style: none;
}
*, *:before, *:after {
    box-sizing: border-box;
  }

  a {
      text-decoration: none;
      color: #0E4977;
  }

  a:hover {
      color: #984B25;
  }

  li {
      list-style: none;
  }

  .logo-plus-nav-container {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  }

  .logo {
      width: 124px;
      height: 60px;
      line-height: 60px;
      /* padding: 40px 20px; */
      margin-top: 15px;
      margin-left: 10px;
      /* display: inline-block; */
      float: left;
      background-image: url(images/logo/logo.png);
      background-repeat: no-repeat;
      /* background-position: cover; */

  }

/* main navigation */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

  .main-ul {
    float: right;
    margin-right: 40px;
    /* white-space: nowrap; */
  }

  .main-ul>li {
    float: left;
  }
  .main-ul li a:hover {
      color: #4788BA;
      transition: all 0.5s;
  }

  .main-ul>li>a {
      display: inline-block;
      text-decoration: none;
      font-size: 1.6rem;
      color: #07274E;
      padding: 30px 16px;
      text-transform: uppercase;
  }

  .fas {
    font-family: fontAwesome;
  }

  .drop-down {
    display: inline-block;
    position: relative;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 81px;
    background-color: #FFF;
    min-width: 100px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
    z-index: 9999;
  }

  .dropdown-content li {
    width: 100%;
  }

    .dropdown-content li a {
      font-size: 1.6rem;
      display: block;
      text-transform: uppercase;
      padding: 20px;
    }

    .drop-down:hover .dropdown-content {
      display: block;
    }

    nav #icon {
      color: #07274E;
      font-size: 4rem;
      line-height: 80px;
      float: right;
      display: none;
      margin-right: 40px;
      cursor: pointer;
      z-index: 1;
    }


    /* main content styling */

    .main-heading {
      font-size: 3.5rem;
      text-transform: uppercase;
      color: #0B2234;
      font-weight: 600;
      line-height: 45px;
      letter-spacing: 0.09rem;
      word-spacing: -0.1rem;
      padding: 80px 0 120px 0px;
      max-width: 1076px;
      height: 100px;
      margin: 0 auto;
    }

    .mcqs-section{
      position: relative;
      margin: 0px auto;
      max-width: 50%;
      background: #E7F1F8;
      padding: 60px 80px;
      margin-bottom: 100px;
          box-shadow: 0px 2px 5px rgba(0,0,0, .2);
    }

    .mcqs-container{
      border: 7px solid rgba(0,95,181, 0.4);
     border: 7px solid 	rgba(0,95,181, 0.4);
     -webkit-background-clip: padding-box; /* for Safari */
     background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */

     /* Safari 3-4, iOS 1-3.2, Android 1.6- */
     -webkit-border-radius: 12px;
     /* Firefox 1-3.6 */

     -moz-border-radius: 12px;
     border-radius: 4px;
     padding: 10px;
    }
    h2.mcqs-heading,h2.mcqs-heading>span{
      text-align: center;
      font-size: 2rem;
      text-transform: lowercase;
      padding: 5px 0px 15px 0px;
      letter-spacing: 0.04rem;
      font-weight: 800;
    }
    h2.mcqs-heading>span {
      text-transform: uppercase;
    }
    p.file-name{
      text-align: center;
      font-size: 1.6rem;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.02rem;
      padding: 0px 0px 10px 0px;
    }
    .mcqs-section button {
      position: absolute;
      right: 20px;
      bottom: -20px;
      font-size: 1.4rem;
      width: 12rem;
      height: 4rem;
      background-color: #0181F5;
      color: #ffffff;
      border: 0px;
      border-radius: 3px;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0,0,0, .2);
    }
    /* footer section styling*/

    .flex-display {
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        padding: 50px 0px 30px 0px;
        -webkit-box-pack: space-around;
        -ms-flex-pack: space-aroundy;
        justify-content: space-around;
        /* height: 224px; */
        background: #040E27;
    }

    .footer-services-container h3, .footer-contact-container h3, .follow-us-section h3, .android-app-section h3 {
        font-size: 1.9rem;
        font-weight: 600;
        letter-spacing: 0.06rem;
        color: #fff;
        text-transform: uppercase;
    }

    .footer-nav-1 ul:first-child, .footer-nav-2 ul:first-child {
        margin-top:6px;
    }

    .footer-nav-1 a, .footer-nav-2 a {
        display: inline-block;
        color: #fff;
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 0.03rem;
        text-transform: uppercase;
        padding: 4px 0px 4px 15px;
    }

    .footer-nav-1 a:hover, .footer-nav-2 a:hover {
        color: #0181F5;
    }

    .follow-us-section .social-icon-section {
        padding: 10px 0px 10px 15px;
    }

    .follow-us-section {
        margin-left: 10px;
    }


    .social-icon-section a img {
        width: 28px;
        height: 28px;
        margin-left: 5px;
    }


    .android-app-section img {
        width: 138px;
        height: 50px;
        margin-left: 60px;
    }

    .footer-all-rights {
        background-color: #040E27;
        padding: 12px 0px;
    }

    .footer-all-rights p {
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 0.06rem;
        color: #ffffff;
        text-align: center;
    }



    /* responsive */
  /* header responsive styling */

        @media (max-width: 1044px) {
          .main-ul>li>a  {
            padding: 30px 10px;
          }
        }

        @media (max-width: 950px) {
          .logo{
             background-size: 90px 40px;
                   line-height: 40px;
                   margin-top: 20px;
                   margin-left: 20px;
          }
          .main-ul>li>a  {
            padding: 30px 10px;
          }
        }
    @media (max-width: 990px) {
      nav #icon {
        display: block;
        height: 100%
      }
    /* Firefox */ /* Internet Explorer 10+ */ /* respectively */
      nav .main-ul{
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        padding-right: 0;
    }
     /* only chrome */
      nav .main-ul::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

      nav .main-ul {
        position: fixed;
        display: none;
        width: 100%;
        height: 100vh;
        overflow: scroll;
        background: #fff;
        top: 84px;
        text-align: center  ;
        transition: all 1s;
        -webkit-transition: all 1s;
        z-index: 999;
      }
      .main-ul>li {
        display: block;
        float: none;
        border-bottom: 1px solid  rgba(0,0,0, 0.4);
        line-height: 1.8rem;
      }
      .main-ul li>a {
        font-size: 1.8rem;
      }

      .main-ul a.active, .main-ul a:hover {
        border: none;
        color: #ffffff;
      }
      .logo {
        padding-left: 20em;
      }
    /* scroll fix for body */
      .body-scroll-fix {
        height: 100%;
        overflow: hidden;
      }
      .main-ul.show {
        display: block;
      }
      .dropdown-content li>a {
        font-size: 1.3rem;
        padding: 11px;
      }
      .dropdown-content {
        top: 40px;
        left: 384px;
      }

    /* footer responsive styling */
    @media (max-width: 680px) {
      .flex-display {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
    -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
        text-align: center;
        height: 440px;
        padding: 0px 0px 30px 0px;
      }

      .footer-services-container{
        margin-left: -10px;
      }

        .footer-services-container h3{
          margin-left: 15px;
          margin-bottom: -2px;
        }

      .footer-services-container h3, .footer-contact-container h3, .follow-us-section h3, .android-app-section h3 {
          font-size: 1.8rem;
          font-weight: 600;
          padding: 30px 0px 10px 0px;
      }

      .footer-nav-1 a, .footer-nav-2 a {
          font-size: 1.3rem;
          font-weight: 600;
          letter-spacing: 0.12rem;
          color: #ffffff;
      }

      .footer-services-container {
        font-weight: bold;
      }

      .footer-contact-container {
        display: none;
      }

      .follow-us-section {
        margin-left: 0;
        width: 100%;
      }

        .social-icon-section{
          margin: 0 20px 0 0;
        }

      .social-icon-section a img {
          margin-left: 7px;
      }

      .android-app-section img {
          width: 138px;
          height: 50px;
          margin-left: 0px;
          margin-top: -6px;
      }
    }
