/* footer section */

.flex-display {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 50px 0px 30px 0px;
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-aroundy;
    justify-content: space-around;
    /* height: 224px; */
    background: #040E27;
}

.footer-services-container h3, .footer-contact-container h3, .follow-us-section h3, .android-app-section h3 {
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 0.06rem;
    color: #fff;
    text-transform: uppercase;
}

.footer-nav-1 ul:first-child, .footer-nav-2 ul:first-child {
    margin-top:6px;
}

.footer-nav-1 a, .footer-nav-2 a {
    display: inline-block;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
    padding: 4px 0px 4px 15px;
}

.footer-nav-1 a:hover, .footer-nav-2 a:hover {
    color: #0181F5;
}

.follow-us-section .social-icon-section {
    padding: 10px 0px 10px 15px;
}

.follow-us-section {
    margin-left: 10px;
}


.social-icon-section a img {
    width: 28px;
    height: 28px;
    margin-left: 5px;
}


.android-app-section img {
    width: 138px;
    height: 50px;
    margin-left: 60px;
}

.footer-all-rights {
    background-color: #040E27;
    padding: 12px 0px;
}

.footer-all-rights p {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.06rem;
    color: #ffffff;
    text-align: center;
}

/* footer responsive styling */
@media (max-width: 680px) {
  .flex-display {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
-ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
    text-align: center;
    height: 440px;
    padding: 0px 0px 30px 0px;
  }

  .footer-services-container{
    margin-left: -10px;
  }

    .footer-services-container h3{
      margin-left: 15px;
      margin-bottom: -2px;
    }

  .footer-services-container h3, .footer-contact-container h3, .follow-us-section h3, .android-app-section h3 {
      font-size: 1.8rem;
      font-weight: 600;
      padding: 30px 0px 10px 0px;
  }

  .footer-nav-1 a, .footer-nav-2 a {
      font-size: 1.3rem;
      font-weight: 600;
      letter-spacing: 0.12rem;
      color: #ffffff;
  }

  .footer-services-container {
    font-weight: bold;
  }

  .footer-contact-container {
    display: none;
  }

  .follow-us-section {
    margin-left: 0;
    width: 100%;
  }

    .social-icon-section{
      margin: 0 20px 0 0;
    }

  .social-icon-section a img {
      margin-left: 7px;
  }

  .android-app-section img {
      width: 138px;
      height: 50px;
      margin-left: 0px;
      margin-top: -6px;
  }
}
