
.upload-section {
  max-width: 600px;
  background: #E7F1F8;
  padding: 56px 100px 0px 100px;
  margin: 60px auto;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0,0,0, .2);
  text-overflow: clip;
}

.upload-section>h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 2.2rem;
  color: #0B2234;
  /* font-weight: 400; */
  letter-spacing: 0.09rem;
}
.upload-section>p {
  font-size: 1.8rem;
  line-height: 2rem;
  padding-top: 20px;
  font-weight: 400;
  margin-left: 20px;
  color: #0B2234;
  letter-spacing: 0.02rem;
}
.upload-form {
  padding: 40px;
  /* margin: 0px auto; */
}


.upload-form div, .upload-form p {
  font-size: 1.6rem;
  line-height: 1.6rem;
  padding: 3px 0px 8px 0px;
  color: #0B2234;
}

input[type=text], input[type=email] {
  padding-left: 8px;
  font-size: 1.6rem;
  width: 300px;
  height: 30px;
}

input[type=file]{
  margin-top: 15px;
  background: #ffffff;
  border: 1px solid rgba(1,129,245, .6);
  padding:20px 5px 20px 20px;
  font-size: 1.4rem;
}

input[type=submit] {
  font-size: 1.4rem;
  width: 10rem;
  height: 3.8rem;
  background-color: #0181F5;
  border: 0px;
  border-radius: 3px;
  color: #ffffff;
  display: block;
  margin: 45px auto 10px auto;
  letter-spacing: 0.1rem;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0,0,0, .2);
}

/* main content responsive styling */

@media (max-width: 1000px) {
  .upload-section {
    /* max-width: 700px; */
    padding: 60px 70px 0px 70px;
  }
  .upload-section>h2 {
    font-size: 2rem;
  }
  .upload-section>p {
    font-size: 1.8rem;
  }

  input[type=text], input[type=email] {
    width: 100%;
  }
  input[type=file]{
    width: 100%;
  }
}

@media (max-width: 750px) {
  article {
    padding: 50px;
  }
}

@media (max-width: 560px) {
  .upload-section {
    /* max-width: 700px; */
    padding: 50px 50px 0px 30px;
  }
  .upload-section>h2 {
    font-size: 1.9rem;
  }
  .upload-section>p {
    font-size: 1.6rem;
    text-align: justify;
  }
}

@media (max-width: 470px) {
  .upload-section{
    padding: 40px 30px 0px 10px;
  }
}
@media (min-width: 320px) and (max-width: 431px) {

  .upload-form {
    padding: 20px 10px 20px 10px;
  }
  article {
    padding: 0px 25px 0px 25px;
  }
  input[type=submit] {
      margin: 25px auto 10px auto;
  }
}

@media (max-width: 430px) {
  article {
    /* padding-right: 50px;   */
  }
  .upload-section {
    /* width: 380px; */
  }
input[type=file]{
  /* width: 230px; */
}
}
